$font1: 'Open Sans', Helvetica, 'Segoe UI', Arial, sans-serif;
$font2: 'Source Sans Pro', $font1;
$font-size-base: 16px;
$line-height-base: 20px;

$font-stack1: 400 #{$font-size-base}/#{$line-height-base} $font1;
$font-stack2: 400 #{$font-size-base}/#{$line-height-base} $font2;

// font-size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-l: 18px;


// Breakpoint
$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 900px;
$bp-lg: 1199px;


// COLOR
$color-base: #2d3b43;
$color-base1: #2c3e50;
$color-base2: #4E5C6E;
$color-base3: #8a8f96;

$color-grey: #ccc;
$color-grey-light: #e7e6e6;
$color-grey-lighter: #f8f8f8;
$color-red-light: #e14d4d;
$color-blue-light: #16B3FF;
$color-yellow: #ffd016;
$color-yellow-light: #ffd016;
$color-link: #16B3FF;


